* { font-family: 'Roboto', sans-serif; }
body { height: 100%; }
html, body { height: 100% !important; }
input { box-shadow: none !important; outline: none !important; border: 1px solid #d9d9d9 !important; }
nav { background: rgb(39, 39, 39); padding: 10px; }

// LOGIN
.center-login { display: flex; height: 100vh; align-items: center; padding-top: 40px; padding-bottom: 40px; background-color: #f5f5f5; }

.form-signin { max-width: 330px; padding: 15px; }
.form-signin img.login { margin-bottom: 50px; }
.form-signin .form-floating:focus-within { z-index: 2; }
.form-signin input[type="email"] { margin-bottom: -1px; border-bottom-right-radius: 0; border-bottom-left-radius: 0; }
.form-signin input[type="password"] { margin-bottom: 10px; border-top-left-radius: 0; border-top-right-radius: 0; }
.form-signin button { outline:none !important; width: 100%; background: #00015c !important; border: 1px solid transparent; font-size: 18px; }
.form-signin button:focus { outline: none !important; }
.form-signin button:hover { border: 1px solid transparent; background: #000272 !important; }